html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
a {cursor: pointer;}
body { line-height: 1;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: none;}
table { border-collapse: collapse; border-spacing: 0;}
button { outline: 0; border-style: solid; cursor: pointer;}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NanumGothic/NanumGothic-Regular.eot');
    src: url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
    url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
    url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NanumGothic/NanumGothic-Bold.eot');
    src: url('../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
    url('../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
    url('../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
    src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
    url('../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Square';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nanumSquare/NanumSquareR.eot');
    src: local('Nanum Square Regular'),
    local('NanumSquareR'),
    url('../fonts/nanumSquare/NanumSquareR.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nanumSquare/NanumSquareR.woff2') format('woff2'),
    url('../fonts/nanumSquare/NanumSquareR.woff') format('woff'),
    url('../fonts/nanumSquare/NanumSquareR.ttf') format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fa-brands-400.eot');
    src: url('../fonts/fontawesome/fa-brands-400.eot') format('embedded-opentype'),
    url('../fonts/fontawesome/fa-brands-400.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-brands-400.woff') format('woff'),
    url('../fonts/fontawesome/fa-brands-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url('../fonts/notosanskr/NotoSansKR-Thin-Hestia.eot'),
    url('../fonts/notosanskr/NotoSansKR-Thin-Hestia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosanskr/NotoSansKR-Thin-Hestia.woff') format('woff'),
    url('../fonts/notosanskr/NotoSansKR-Thin-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url('../fonts/notosanskr/NotoSansKR-Light-Hestia.eot'),
    url('../fonts/notosanskr/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosanskr/NotoSansKR-Light-Hestia.woff') format('woff'),
    url('../fonts/notosanskr/NotoSansKR-Light-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('../fonts/notosanskr/NotoSansKR-Regular-Hestia.eot'),
    url('../fonts/notosanskr/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosanskr/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('../fonts/notosanskr/NotoSansKR-Regular-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url('../fonts/notosanskr/NotoSansKR-Medium-Hestia.eot'),
    url('../fonts/notosanskr/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosanskr/NotoSansKR-Medium-Hestia.woff') format('woff'),
    url('../fonts/notosanskr/NotoSansKR-Medium-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('../fonts/notosanskr/NotoSansKR-Bold-Hestia.eot'),
    url('../fonts/notosanskr/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosanskr/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('../fonts/notosanskr/NotoSansKR-Bold-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url('../fonts/notosanskr/NotoSansKR-Black-Hestia.eot'),
    url('../fonts/notosanskr/NotoSansKR-Black-Hestia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosanskr/NotoSansKR-Black-Hestia.woff') format('woff'),
    url('../fonts/notosanskr/NotoSansKR-Black-Hestia.otf') format('opentype');
}
html {height: 100%;}
body {min-width: 440px; font-family: 'Noto Sans Korean', Helvetica, 'Apple SD Gothic Neo', Sans-serif, monospace; }
dfn {font-style: normal; color: #373b49;}
a, a:visited, a:active {color: black; text-decoration: none;}
input[type="checkbox"], input[type="radio"] {display: none;}
input[type="checkbox"] + label, input[type="radio"] + label {cursor: pointer;}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {font-family: 'Font Awesome 5 Free', monospace; font-weight: 400; display: inline-block; color: #888; content: "\f0c8"; position: relative; padding-right: 1.2em;}
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before { content: "\f14a";}

input, textarea, select, button, .button {resize: none; border-radius: 4px; border: 1px solid transparent; transition: all 0.5s ease; box-sizing: border-box; height: 2em; }
input, textarea, select {padding-left: 0.5em;}
input:focus, textarea:focus, button:focus, button:active, .button:focus, .button:active {border-width: 3px; border-color: #43425d;}
.one-line {overflow: hidden; white-space: nowrap;}
.float-left {float: left;}
.float-right {float: right;}
.row {margin-left: -0.5em; margin-right: -0.5em;}
.row:before {content: " "; display: table;}
.row:after {clear: both; content: ""; display: block;}
.col-sm-1, .col-md-1, .col-xs-1 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-2, .col-md-2, .col-xs-2 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-3, .col-md-3, .col-xs-3 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-4, .col-md-4, .col-xs-4 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-5, .col-md-5, .col-xs-5 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-6, .col-md-6, .col-xs-6 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-7, .col-md-7, .col-xs-7 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-8, .col-md-8, .col-xs-8 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-9, .col-md-9, .col-xs-9 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-10, .col-md-10, .col-xs-10 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-11, .col-md-11, .col-xs-11 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-sm-12, .col-md-12, .col-xs-12 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-1 {float: left; min-height: 1px; position: relative; width: calc(8.33% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-2 {float: left; min-height: 1px; position: relative; width: calc(16.66% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-3 {float: left; min-height: 1px; position: relative; width: calc(25% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-4 {float: left; min-height: 1px; position: relative; width: calc(33.33% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-5 {float: left; min-height: 1px; position: relative; width: calc(41.66% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-6 {float: left; min-height: 1px; position: relative; width: calc(50% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-7 {float: left; min-height: 1px; position: relative; width: calc(58.33% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-8 {float: left; min-height: 1px; position: relative; width: calc(66.66% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-9 {float: left; min-height: 1px; position: relative; width: calc(75% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-10 {float: left; min-height: 1px; position: relative; width: calc(83.33% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-11 {float: left; min-height: 1px; position: relative; width: calc(91.66% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
.col-12 {float: left; min-height: 1px; position: relative; width: calc(100% - 1em); box-sizing: border-box; margin-left: 0.5em; margin-right: 0.5em;}
@media screen and (max-width: 760.5em) {
    .sm-hidden {display: none !important;}
    .sm-text-left {text-align: left;}
}
@media screen and (min-width: 768px) {
    .sm-visible {display: none;}
    .md-text-right {text-align: right;}
    .col-md-1 {width: calc(8.33% - 1em);}
    .col-md-2 {width: calc(16.66% - 1em);}
    .col-md-3 {width: calc(25% - 1em);}
    .col-md-4 {width: calc(33.33% - 1em);}
    .col-md-5 {width: calc(41.66% - 1em);}
    .col-md-6 {width: calc(50% - 1em);}
    .col-md-7 {width: calc(58.33% - 1em);}
    .col-md-8 {width: calc(66.66% - 1em);}
    .col-md-9 {width: calc(75% - 1em);}
    .col-md-10 {width: calc(83.33% - 1em);}
    .col-md-11 {width: calc(91.66% - 1em);}
    .col-md-12 {width: calc(100% - 1em);}
}
@media screen and (max-width: 1199px) {
    .md-hidden {display: none !important;;}
}
@media screen and (min-width: 1200px) {
    .col-xs-1 {width: calc(8.33% - 1em);}
    .col-xs-2 {width: calc(16.66% - 1em);}
    .col-xs-3 {width: calc(25% - 1em);}
    .col-xs-4 {width: calc(33.33% - 1em);}
    .col-xs-5 {width: calc(41.66% - 1em);}
    .col-xs-6 {width: calc(50% - 1em);}
    .col-xs-7 {width: calc(58.33% - 1em);}
    .col-xs-8 {width: calc(66.66% - 1em);}
    .col-xs-9 {width: calc(75% - 1em);}
    .col-xs-10 {width: calc(83.33% - 1em);}
    .col-xs-11 {width: calc(91.66% - 1em);}
    .col-xs-12 {width: calc(100% - 1em);}
}
.color-brand {color: #43425d;}
.bcolor-brand {background-color: #43425d;}
.bordercolor-brand {border-color: #43425d;}
.color-darkbrand {color: #27263b;}
.bcolor-darkbrand {background-color: #27263b;}
.bordercolor-darkbrand {border-color: #27263b;}
.color-lightbrand {color: #a3a0fb;}
.bcolor-lightbrand {background-color: #a3a0fb;}
.bordercolor-lightbrand {border-color: #a3a0fb;}
.color-back {color: #e9e9f0;}
.bcolor-back {background-color: #e9e9f0;}
.bordercolor-back {border-color: #e9e9f0;}
.color-white {color: white;}
.bcolor-white {background-color: white;}
.bordercolor-white {border-color: white;}
.pagination {display: inline-block; text-align: center;}
.pagination .item {overflow: hidden; display: inline-block; text-align: center; background: white; width: 2em; height: 2em; padding-top: 0.45em; cursor: pointer; box-sizing: border-box;}
.pagination .item.current {cursor: not-allowed; background: #3b86ff; color: white;}
.pagination .item:hover:not(.current) {text-decoration: underline;}
.form-control {border-color: #43425d; width: 100%;}
.blink {animation: blink 2.5s linear infinite;}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1 }
    100% { opacity: 0; }
}
