<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="logs_path" value="./logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logs_path}/_%d{yyyy-MM-dd}_%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework.core" additivity="false">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.beans" additivity="false">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.context" additivity="false">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.web" additivity="false">
        <level value="info"/>
    </logger>

    <logger name="com.win">
        <level value="debug"/>
    </logger>

    <logger name="jdbc" level="OFF"/>

    <logger name="java.sql" additivity="false">
        <level value="debug"/>
    </logger>

    <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>

    <logger name="jdbc.resultsettable" level="WARN" additivity="false">
        <appender-ref ref="console" />
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>